<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<%- include("header.ejs") %>
<body>
    <h1>About</h1>
    <div class="about">
        <p>This project was created as part of my back-end developer journey. The goal was to create an application
            that uses tools from Node.js, Express, and EJS. As of its creation, I have not learned how to link to a database
            so any blogs submitted here will not be save once the server is reset. Feel free to check out my other projects
            at <a href="https://jmhummer.github.io/">https://jmhummer.github.io/</a>. Thank you for taking the time to view
            my project!</p>
    </div>
</body>
</html>