<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <nav class="navbar navbar-expand-custom navbar-mainbg">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="/"><i class="far fa-copy"></i>Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts"><i class="far fa-clone"></i>Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="far fa-calendar-alt"></i>About</a>
          </li>
  
        </ul>
    </nav>
  </header>
<body>
    
</body>
</html>